/*Main Application*/

h1{
  text-align: center;
}
.container{
width: 100%;
height: 100%;
position: absolute;
}

.map-container{
  width: 100%;
  height: 50%;
}

.list-container{
  height: 100%;
  width: 100%;
  
}

input{
  width: 50%;
  margin: 25px;
}



/*Media Query for Phones*/

@media only screen and (min-width : 769px) {
  
  .map-container{
    width: 75%;
    height: 100%;
    float: right;
    
    
  }
  .list-container{
    width: 25%;
    height: 100%;
    float: left;
    
  }
  }