/*Main Application*/

h1{
  text-align: center;
}
.container{
width: 100%;
height: 100%;
position: absolute;
}

.map-container{
  width: 100%;
  height: 50%;
}

.list-container{
  height: 100%;
  width: 100%;
  
}




/*Search Field and List*/
.myInput {
  margin: 40px;
  width: 70%; /* Full-width */
  font-size: 18px; /* Increase font-size */
  text-align: left;
  
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#locations-list {
  /* Remove default list styling */
  list-style-type: none;
 
}





/*Media Query for Phones*/

@media only screen and (min-width : 769px) {
  
  .map-container{
    width: 75%;
    height: 100%;
    float: right;
    
    
  }
  .list-container{
    width: 25%;
    height: 100%;
    float: left;
    
  }
  }